<h1>Albums</h1>

<%= form_tag(albums_path, method: :get) do %>
  <%= label_tag(:query, 'Search for:') %>
  <%= text_field_tag(:query, @query) %>
  <%= submit_tag('Search') %>
<% end %>

<table>
  <thead>
    <tr>
      <td>Album</td>
      <td>Band</td>
      <td>Genre</td>
    </tr>
  </thead>
  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= album.name %></td>
        <td><%= album.band_name %></td>
        <td><%= album.genre_name %></td>
      </tr>
    <% end %>
  </tbody>
</table>
